@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

p{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color:#131416;
}

.navbar-brand{
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
    font-weight: 400;
}

.nav-text{
    text-transform: uppercase; 
    font-size: 25px; 
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link  {
    color:#ff3f00;
}

#clients{
    background-color: black;
}

.emmy-word{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    line-height: 39px;
    padding-right: 2.5px;
    padding-left: 1px;
    padding-top: 17px;
    padding-bottom: 36px;
    background: #ff3f00;
}
.section-title{
    text-align: center;
    padding-bottom: 30px; 
    padding-top: 10px;
    font-weight: 700;
    font-size: 45px;
}

#tools img{
    width: 50%;
}

#movies img{
    /* width: 65% */
}

#tv-shows img{
    width: 70%
}


/* FOR PC */
@media only screen and (min-width: 992px) {
    nav{
        justify-content: space-between;
        
    }
    #heroimg{
        /* padding: 8%;*/
        padding-left: 22%; 
    }
    #heroimg > h1{
        font-size: 10.5rem;
        letter-spacing: 5.2px;
        line-height: 1.0;
    }
    
    #heroimg > h2{
        font-weight: bold;
        font-size: 3rem;
        padding-top: 50px; 
        padding-bottom: 20px;
    }
    .mid-banner{
        padding: 7%;
        padding-left: 22%;

    }
    .portfolios{
        padding-left: 300px;
        padding-right: 300px;
    }
    .row-two{
        padding-top: 20px;
    }
    
    

    #contact{
        padding: 7%;
        padding-left: 22%; 
        padding-right: 22%; 
    }

} 

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
    #heroimg > h1{
        font-size: 4.5rem;
    }
} 

    
@media only screen and (min-width: 600px) {

    .row-two{
            padding-top: 20px;
        }

    } 