html body {
    margin: 0px;
    padding: 0px;

}

/*=========Button Styling=========*/
.btn {
    color: #FA4F52 !important;
    border: 1px solid #FA4F52;
    border-radius: 3px;
}

.btn:hover {
    background-color: #D5B345;
    border: 1px solid #D5B345 !important;
    color: #fff !important;
}

/*=========Button Styling=========*/



/* =========Navbar Start==========*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');



@font-face {
    font-family: 'MyriadProCond';
    src: url('../fonts/MYRIADPRO-COND.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/MYRIADPRO-COND.OTF') format('otf');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MYRIADPRO-REGULAR.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/MYRIADPRO-REGULAR.OTF') format('otf');
    /* Safari, Android, iOS */
}


@font-face {
    font-family: 'Burger';
    src: url('../fonts/Burger-Joint-JL-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Burger-Joint-JL-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Burger-Joint-JL-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/LeagueGothic-Regular.otf') format('otf');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/LeagueGothic-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/LeagueGothic-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/LeagueGothic-Regular.otf') format('otf');
    /* Safari, Android, iOS */

}

p {
    font-family: 'LeagueGothic', sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'LeagueGothic', sans-serif;
}

h2 {
    font-family: 'LeagueGothic', sans-serif;
}

topnav {
    background-color: white;
}


nav {
    background-color: #131416;
}





.navbar-brand {
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
    font-weight: 400;
}

.nav-text {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    font-family: 'LeagueGothic', sans-serif;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #f69800;
}

/*--search bar--*/

.form-control {
    border: 1px solid #FA4F52;
}

/*========Navbar End========*/

/*========Start Main========*/

.container-fluid {
    background-image: url(http://boisvertinc.com/img/background/background-01.svg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0 20px 0 !important;

}

.wrap {
    width: 100%;
    max-width: 1920px;
    margin: 20px 0 0 0 !important;
}

.col-4 {
    z-index: 500;
    width: 100%;
    margin-top: 120px;
    margin-top: 13vh;
    pointer-events: none;
}

.col-10 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.firstchild {
    margin-top: 150px;
}


.teaserlayout-1 .teaserno-l {

    justify-self: start;
    /* float:left; */
}

.teaserlayout-1 .teaserno-r {
    justify-self: end;
    float: right;
}

.teaser {

    overflow: hidden;
    width: 100%;
    align-self: center;
    height: 80vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #eee0;
    width: -webkit-fill-available;
}

img {
    max-width: 100%;
}

.featured .text {
    position: absolute;
    z-index: 100;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
    width: 100%;
    -webkit-text-stroke: .3vw #F8991D;
    overflow: hidden;
}

.text:hover {
    background-color: rgba(248, 153, 29, 0.8);
    -webkit-text-stroke: .3vw rgb(255, 255, 255);

}

.hovertype {
    font-size: 15vw;
    line-height: 15vw;
    display: block;
    z-index: 10000;
  
    color: #000;
    color: transparent;
    text-align: center;
    position: relative;

}

.hovertype:hover {
    -webkit-text-stroke: .3vw rgb(255, 255, 255);

}

.hovertype-l {
    left: 10%;
}

.hovertype-r {
    right: 10%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*------------ index-page sub-page---------------*/
.col-12 {
    position: relative;
    width: 100%;
    /* min-height: 1px; */
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.index-page .firstchild {
    margin-top:113px;;
}

.intro {
    display: table-cell;
    /* position: absolute; */
    z-index: 100;
    margin: 0;
}

.hovertype-s {
    font-size: 20vw;
    line-height: 20vw;
    display: block;
    z-index: 100;
     margin-top: 2%; 
    color: #000;
    color: transparent;
    text-align: center;
    position: relative;
}

.index-page .intro {
    vertical-align: middle;
    background-color: rgba(248, 139, 29, 0.923);
    height: inherit;
    width: 100%;
    -webkit-text-stroke: .3vw rgb(0, 0, 0) !important;
}

.index-page .teaser {
    overflow: hidden;
    width: 100%;
    align-self: center;
    height: auto;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #eee0;
    width: -webkit-fill-available;
    display: table;
}

.index-content {

    padding-top: 50px;
    color: #fff;
    padding-bottom: 50px;
}

/*------------ index-page sub-page end---------------*/


/*---------------------------------------------------------------------------------------------------------------------------------------

media query

----------------------------------------------------------------------------------------------------------------------------------------*/




/* @media only screen and (max-width: 500px) {
    .col-10 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .firstchild {
        margin-top: 100px;
    }

    .teaserlayout-1 .teaserno-l {
        height: 33vh;
    }

    .teaserlayout-1 .teaserno-r {
        height: 33vh;
    }

    .hovertype-l {
        left: 0%;
    }

    .hovertype-r {
        right: 0%;
    }
} */


@media only screen and (max-width: 600px) {

    .no-mobile{
        display: none;
    }

    .index-page .teaser {

        height: 35vw;
    }

    main{
        margin-top: 65px;
    }
}


@media only screen and (max-width: 992px) {
    .col-10 {
        flex: none !important;
        max-width: none !important;
    }

    .firstchild {
        margin-top: 50px;
    }

    .teaserlayout-1 .teaserno-l {
        height: 60vw;

    }

    .teaserlayout-1 .teaserno-r {
        height: 60vw;
    }

 

    .hovertype-l {
        left: 0%;
    }

    .hovertype-r {
        right: 0%;
    }

}

